%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  .container
    %button.navbar-toggler.navbar-toggler-right{data: {toggle: "collapse", target: "#navbarSupportedContent"}, "aria-controls" => "navbarSupportedContent", "aria-expanded"=>"false", "aria-label" =>"Toggle navigation"}
      %span.navbar-toggler-icon
    %a.navbar-brand
      Project Manager

    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.mr-auto
      %ul.navbar-nav.navbar-right
        %li.nav-item
          %a.nav-link.btn.btn-outline-warning.ml-2
            Link 2
        %li.nav-item
          %a.nav-link.btn.btn-outline-warning.ml-2
            Link 3
